{{ ansible_managed | comment }}

{% macro config_value(name, value=None, ident=0) -%}
{% if value | islist %}
{% for v in value|default([], true) %}
{{"\t" * ident}}{{ name }} {{ v }}
{% endfor %}
{% elif value|isnone %}
#{{"\t" * ident}}{{ name }} {{ value }}
{% else %}
{{"\t" * ident}}{{ name }} {{ value }}
{% endif %}
{%- endmacro %}

{% for item in sshd_config_order %}
{{ config_value(item, sshd_config[item]|default(None)) }}
{% endfor -%}

{% for k, v in sshd_config | dictsort(true) %}
{% if k not in sshd_config_order %}
{{ config_value(k, v) }}
{% endif %}
{% endfor -%}

{% for item in sshd_config_match %}
Match {% for k,v in item.match.items() %}{{ k }} {{ v|join(',') }} {% endfor %}

{% for k, v in item.value | dictsort(true) %}
{{ config_value(k, v|default(None), 1) }}
{% endfor %}
{% endfor %}